/* ------------- color palette */

:root {
    --bg-color-1: #e1e1e1;
    --bg-color-2: #dbd7d2;
    --font: #454545;
    --accent-1: #697268;
    --accent-2: #939d92;
    --dark: #9c9c9c;
}



/* ------------- css resets */

* {
    margin: 0;
    padding: 0;
}

/* respect user font size preferences */
html {
    font-size: 100%;
}

/* ------------- general css */

html {
    scroll-behavior: smooth;
}

body {

    /* background-color: #f0f0f0; */

    background-image: url("../images/bg3.jpg");
    background-color: var(--bg-color-1);
    color: var(--font);
    font-family: "Macondo Swash Caps", cursive;
    font-size: 1.25rem;
    line-height: 1.5;
    text-align: justify;
}

@media (max-width: 700px) {
    body {
        font-size: 1.3rem;
    }
}

header {
    padding: 1rem 1rem 1rem 1rem;
    margin-bottom: 1rem;
    /* background: #000000; */
    /* background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(0, 0, 0, 1) 100%); */
    border-bottom: var(--bg-color-1) 10px dashed;
    color: var(--font);
    /* text-align: center; */
}

@media (max-width: 850px) {
    header {
        padding-left: 2rem;
    }
}

header h1 {
    font-size: 2rem;
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-color: var(--accent-1);
    font-family: "Jacquard 24", system-ui;
    font-size: 2.5rem;
}

nav {
    position: absolute;
    right: 2rem;
    top: 2rem;
}

nav a {
    text-decoration: none;
    color: var(--font);
    display: inline-block;
    margin: 0 1rem;
    transition: background-color .5s ease-in-out;
}

nav a:hover {
    color: var(--accent-2);
    transform: scale(1.2)
}

@media (max-width: 850px) {
    nav a {
        margin: 0.5rem;
    }
}

main {
    margin: 0;
}

@media (max-width: 850px) {
    main {
        margin: 2rem;
    }
}

@media (max-width: 600px) {
    main {
        margin: 1rem;
    }
}

.about-section,
.portfolio-section,
.contact-section {
    margin-bottom: 4rem;
}

.about-section,
.portfolio-content,
.contact-content {
    max-width: 50rem;
    margin: 0 auto;
    padding: 2rem 0;
}

.about-section h2,
.portfolio-content h2,
.contact-content h2 {
    padding: 1rem 0;
}

.portfolio-item {
    margin-bottom: 2rem;
    background-color: var(--bg-color-1);
    padding: 2rem;
    text-align: center;
    /* border: 2px rgb(164, 164, 164) solid; */
    border-radius: 0.5rem;
    box-shadow: 5px 5px 3px #b7b7b7;
}

@media (max-width: 800px) {
    .portfolio-item {
        padding: 2rem;
    }
}

@media (max-width: 600px) {
    .portfolio-item {
        padding: 3rem;
    }
}


.portfolio-item img {
    max-width: 100%;
    margin: 0 auto;
    display: block;
    border-radius: 0.5rem;
}

/* .portfolio-section {

    background-color: var(--bg-color-2);
} */

.portfolio-item h3 {
    margin: 1rem 0;
}

.portfolio-item p {
    font-size: 1.1rem;
}

footer {
    background-color: var(--dark);
    color: #ffffff;
    padding: 0.5rem;
    /* text-align: left; */
}

footer p {
    font-size: 1rem;
}

/* style classes */

.accent-1 {
    color: var(--accent-1);
}

.accent-2 {
    color: var(--accent-2)
}

.jacquard-24-regular {
  font-family: "Jacquard 24", system-ui;
  font-weight: 400;
  font-style: normal;
}

.macondo-swash-caps-regular {
  font-family: "Macondo Swash Caps", cursive;
  font-weight: 400;
  font-style: normal;
}

